greenStyle {
    color: #fff;
    background-color: #92b38f;
    padding: 2px 4px;
    border-radius: 2px;
}

baseStyle {
        color: #fff;
    background-color: #b1acac;
    padding: 2px 4px;
    border-radius: 2px;
}